<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
     Created by Rob Maclean using
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      This is the sample application it is a bit like twitter.
    </p>
